In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('F:\MarketData.csv',names=np.arange(1,21))

In [3]:
transactions = []
for sublist in dataset.values.tolist():
    clean_sublist = [item for item in sublist if item is not np.nan]
    transactions.append(clean_sublist)

In [4]:
from mlxtend.preprocessing import TransactionEncoder

In [5]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_x = pd.DataFrame(te_ary, columns=te.columns_)

In [6]:
from mlxtend.frequent_patterns import apriori

In [7]:
from mlxtend.frequent_patterns import association_rules

In [8]:
df_sets = apriori(df_x, min_support=0.005, use_colnames=True)
df_rules = association_rules(df_sets,metric='support',min_threshold= 0.005,support_only=True)

In [9]:
df_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(almonds),(burgers),NaN,NaN,0.005199,NaN,NaN,NaN,NaN
1,(burgers),(almonds),NaN,NaN,0.005199,NaN,NaN,NaN,NaN
2,(almonds),(chocolate),NaN,NaN,0.005999,NaN,NaN,NaN,NaN
3,(chocolate),(almonds),NaN,NaN,0.005999,NaN,NaN,NaN,NaN
4,(almonds),(eggs),NaN,NaN,0.006532,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1935,"(pancakes, spaghetti)",(olive oil),NaN,NaN,0.005066,NaN,NaN,NaN,NaN
1936,"(spaghetti, olive oil)",(pancakes),NaN,NaN,0.005066,NaN,NaN,NaN,NaN
1937,(pancakes),"(spaghetti, olive oil)",NaN,NaN,0.005066,NaN,NaN,NaN,NaN
1938,(olive oil),"(pancakes, spaghetti)",NaN,NaN,0.005066,NaN,NaN,NaN,NaN
1939,(spaghetti),"(pancakes, olive oil)",NaN,NaN,0.005066,NaN,NaN,NaN,NaN